## Comment Start - Define The message fields to be used to generate Hash key to identify a unique/duplicate message.
# Mandatory configuration for message id hashing key
MsgId=GrpHdr.MsgId
# Mandatory configuration for Message Created date time
CreatedDtTm=GrpHdr.CreDtTm
## Comment End- Define The message fields to be used to generate Hash key to identify a unique/duplicate message.
GrpHdr.MsgId||||Message Details||Message Id||1||1
GrpHdr.CreDtTm||||Message Details||Date Time||1||2
GrpHdr.NbOfTxs||||Message Details||No. Of Transactions||1||3
GrpHdr.InitgPty.Nm||STRUCTURED_NAME||Message Details||Initiating Party Name||1||4
GrpHdr.InitgPty.PstlAdr.Ctry||STRUCTURED_COUNTRY||Message Details||Initiator Party Country||1||5
GrpHdr.InitgPty.Id.OrgId.AnyBIC||STRUCTURED_ID||Message Details||Initiating Agent||1||6
GrpHdr.FwdgAgt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Forwarding Agent||1||7
PmtInf.PmtInfId||||Additional Information||Payment Information Id||1||1
PmtInf.PmtMtd||||Additional Information||Payment Method||1||2
PmtInf.NbOfTxs||||Additional Information||No. Of Transactions||1||3
PmtInf.PmtTpInf.InstrPrty||||Additional Information||Instruction Priority Code||1||4
PmtInf.PmtTpInf.CtgyPurp.Cd||||Additional Information||Category Purpose Code||1||5
PmtInf.PmtTpInf.CtgyPurp.Prtry||FREETEXT||Additional Information||Category Purpose Code||1||5
PmtInf.ReqdExctnDt.Dt||||Additional Information||Required Execution Date||1||6
PmtInf.ReqdExctnDt.DtTm||||Additional Information||Required Execution Date Time||1||6
PmtInf.Dbtr.Nm||STRUCTURED_NAME||Originator Information||Originator Name||1||1
PmtInf.Dbtr.PstlAdr.StrtNm||||Originator Information||Debtor Street Name||1||2
PmtInf.Dbtr.PstlAdr.TwnNm||||Originator Information||Debtor Town Name||1||3
PmtInf.Dbtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Originator Information||Debtor Country||1||4
PmtInf.Dbtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Originator Information||Debtor Org BIC||1||5
PmtInf.Dbtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Originator Information||Date of Birth||1||5
PmtInf.Dbtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Originator Information||Country of Birth||1||5
PmtInf.DbtrAcct.Id.IBAN||||Originator Information||Originator IBAN Id||1||6
PmtInf.DbtrAcct.Id.Othr.Id||||Originator Information||Originator Other Entity Id||1||6
PmtInf.DbtrAcct.Ccy||||Originator Information||Debtor Account Currency||1||7
PmtInf.DbtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Originator Information||Debtor Agent||1||8
PmtInf.ChrgBr||||Additional Information||Charge Bearer||1||7
PmtInf.CdtTrfTxInf.PmtId.InstrId||||Additional Information||Instruction Id||1||8
PmtInf.CdtTrfTxInf.PmtId.EndToEndId||||Additional Information||End To End Id||1||9
PmtInf.CdtTrfTxInf.PmtId.UETR||||Additional Information||Unique End To End Transaction Reference||1||10
PmtInf.CdtTrfTxInf.PmtTpInf.SvcLvl.Cd||||Additional Information||Service Level Code||1||11
PmtInf.CdtTrfTxInf.PmtTpInf.SvcLvl.Prtry||FREETEXT||Additional Information||Service Level Information||1||11
PmtInf.CdtTrfTxInf.PmtTpInf.CtgyPurp.Cd||||Additional Information||Transaction level Category Purpose Code||1||12
PmtInf.CdtTrfTxInf.PmtTpInf.CtgyPurp.Prtry||FREETEXT||Additional Information||Transaction level Category Purpose Information||1||12
PmtInf.CdtTrfTxInf.Amt.InstdAmt||||Additional Information||Instructed Amount||1||13
PmtInf.CdtTrfTxInf.Amt.EqvtAmt.Amt||||Additional Information||Equivalent Amount||1||13
PmtInf.CdtTrfTxInf.Amt.EqvtAmt.CcyOfTrf||||Additional Information||Transfer Currency||1||14
PmtInf.CdtTrfTxInf.ChrgBr||||Additional Information||Charge Bearer||1||15
PmtInf.CdtTrfTxInf.CdtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Beneficiary Information||Creditor Agent||1||1
PmtInf.CdtTrfTxInf.CdtrAgtAcct.Id.IBAN||||Beneficiary Information||Creditor Agent IBAN Id||1||2
PmtInf.CdtTrfTxInf.CdtrAgtAcct.Id.Othr.Id||||Beneficiary Information||Creditor Agent Account||1||2
PmtInf.CdtTrfTxInf.Cdtr.Nm||STRUCTURED_NAME||Beneficiary Information||Creditor Name||1||3
PmtInf.CdtTrfTxInf.Cdtr.PstlAdr.StrtNm||||Beneficiary Information||Creditor Street Name||1||4
PmtInf.CdtTrfTxInf.Cdtr.PstlAdr.TwnNm||||Beneficiary Information||Creditor Town Name||1||5
PmtInf.CdtTrfTxInf.Cdtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Beneficiary Information||Creditor Country||1||6
PmtInf.CdtTrfTxInf.Cdtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Beneficiary Information||Creditor Org BIC||1||7
PmtInf.CdtTrfTxInf.Cdtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Beneficiary Information||Date of Birth||1||7
PmtInf.CdtTrfTxInf.Cdtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Beneficiary Information||Country of Birth||1||7
PmtInf.CdtTrfTxInf.CdtrAcct.Id.IBAN||||Beneficiary Information||Beneficiary Account Id||1||8
PmtInf.CdtTrfTxInf.CdtrAcct.Id.Othr.Id||||Beneficiary Information||Beneficiary Other Entity Id||1||8
PmtInf.CdtTrfTxInf.RmtInf.Ustrd||FREETEXT||Additional Information||Remittance Information||1||16
