## Comment Start - Define The message fields to be used to generate Hash key to identify a unique/duplicate message.
# Mandatory Configuration for Message ID
MsgId=Assgnmt.Id
# Mandatory configuration for Message Created date time
CreatedDtTm=Assgnmt.CreDtTm
## Comment End- Define The message fields to be used to generate Hash key to identify a unique/duplicate message.
Assgnmt.Id||||Message Details||Assignment Id||1||1
Assgnmt.Assgnr.Pty.Nm||STRUCTURED_NAME||Message Details||Assigner Name||1||2
Assgnmt.Assgnr.Pty.PstlAdr.StrtNm||||Message Details||Assigner Street Name||1||3
Assgnmt.Assgnr.Pty.PstlAdr.TwnNm||||Message Details||Assigner Town Name||1||4
Assgnmt.Assgnr.Pty.PstlAdr.Ctry||STRUCTURED_COUNTRY||Message Details||Assigner Country||1||5
Assgnmt.Assgnr.Agt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Assigner Agent||1||6
Assgnmt.Assgne.Pty.Nm||STRUCTURED_NAME||Message Details||Assignee Name||1||7
Assgnmt.Assgne.Pty.PstlAdr.StrtNm||||Message Details||Assignee Street Name||1||8
Assgnmt.Assgne.Pty.PstlAdr.TwnNm||||Message Details||Assignee Town Name||1||9
Assgnmt.Assgne.Pty.PstlAdr.Ctry||STRUCTURED_COUNTRY||Message Details||Assignee Country||1||10
Assgnmt.Assgne.Agt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Assignee Agent||1||11
Assgnmt.CreDtTm||||Message Details||Creation Date Time||1||12
Case.Id||||Message Details||Case Id||1||13
Case.Cretr.Pty.Nm||STRUCTURED_NAME||Message Details||Creator Name||1||14
Case.Cretr.Pty.PstlAdr.StrtNm||||Message Details||Creator Street Name||1||15
Case.Cretr.Pty.PstlAdr.TwnNm||||Message Details||Creator Town Name||1||16
Case.Cretr.Pty.PstlAdr.Ctry||STRUCTURED_COUNTRY||Message Details||Creator Country||1||17
Case.Cretr.Pty.Id.OrgId.AnyBIC||STRUCTURED_ID||Message Details||Creator BIC||1||18
Case.Cretr.Pty.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Message Details||Date of Birth||1||18
Case.Cretr.Pty.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Message Details||Country of Birth||1||18
Case.Cretr.Agt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Creator Agent||1||19
Dplct.Tp||||Additional Information||Type of Original Message||1||1
Dplct.Data.Any||||Additional Information||Original Message Schema||1||2
Dplct.Data.Any.Document.CstmrCdtTrfInitn.GrpHdr.MsgId||||Message Details||Message Id||1||1
Dplct.Data.Any.Document.CstmrCdtTrfInitn.GrpHdr.CreDtTm||||Message Details||Date Time||1||2
Dplct.Data.Any.Document.CstmrCdtTrfInitn.GrpHdr.NbOfTxs||||Message Details||No. Of Transactions||1||3
Dplct.Data.Any.Document.CstmrCdtTrfInitn.GrpHdr.InitgPty.Nm||STRUCTURED_NAME||Message Details||Initiating Party Name||1||4
Dplct.Data.Any.Document.CstmrCdtTrfInitn.GrpHdr.InitgPty.PstlAdr.Ctry||STRUCTURED_COUNTRY||Message Details||Initiator Party Country||1||5
Dplct.Data.Any.Document.CstmrCdtTrfInitn.GrpHdr.InitgPty.Id.OrgId.AnyBIC||STRUCTURED_ID||Message Details||Initiating Agent||1||6
Dplct.Data.Any.Document.CstmrCdtTrfInitn.GrpHdr.FwdgAgt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Forwarding Agent||1||7
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.PmtInfId||||Additional Message Information||Payment Information Id||1||1
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.PmtMtd||||Additional Message Information||Payment Method||1||2
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.NbOfTxs||||Additional Message Information||No. Of Transactions||1||3
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.PmtTpInf.InstrPrty||||Additional Message Information||Instruction Priority Code||1||4
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.PmtTpInf.CtgyPurp.Cd||||Additional Message Information||Category Purpose Code||1||5
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.PmtTpInf.CtgyPurp.Prtry||FREETEXT||Additional Message Information||Category Purpose Code||1||5
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.ReqdExctnDt.Dt||||Additional Message Information||Required Execution Date||1||6
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.ReqdExctnDt.DtTm||||Additional Message Information||Required Execution Date Time||1||6
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.Dbtr.Nm||STRUCTURED_NAME||Originator Information||Originator Name||1||1
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.Dbtr.PstlAdr.StrtNm||||Originator Information||Debtor Street Name||1||2
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.Dbtr.PstlAdr.TwnNm||||Originator Information||Debtor Town Name||1||3
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.Dbtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Originator Information||Debtor Country||1||4
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.Dbtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Originator Information||Debtor Org BIC||1||5
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.Dbtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Originator Information||Date of Birth||1||5
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.Dbtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Originator Information||Country of Birth||1||5
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.DbtrAcct.Id.IBAN||||Originator Information||Originator IBAN Id||1||6
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.DbtrAcct.Id.Othr.Id||||Originator Information||Originator Other Entity Id||1||6
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.DbtrAcct.Ccy||||Originator Information||Debtor Account Currency||1||7
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.DbtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Originator Information||Debtor Agent||1||8
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.ChrgBr||||Additional Message Information||Charge Bearer||1||7
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.PmtId.InstrId||||Additional Message Information||Instruction Id||1||8
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.PmtId.EndToEndId||||Additional Message Information||End To End Id||1||9
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.PmtId.UETR||||Additional Message Information||Unique End To End Transaction Reference||1||10
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.PmtTpInf.SvcLvl.Cd||||Additional Message Information||Service Level Code||1||11
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.PmtTpInf.SvcLvl.Prtry||FREETEXT||Additional Message Information||Service Level Information||1||11
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.PmtTpInf.CtgyPurp.Cd||||Additional Message Information||Transaction level Category Purpose Code||1||12
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.PmtTpInf.CtgyPurp.Prtry||FREETEXT||Additional Message Information||Transaction level Category Purpose Information||1||12
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.Amt.InstdAmt||||Additional Message Information||Instructed Amount||1||13
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.Amt.EqvtAmt.Amt||||Additional Message Information||Equivalent Amount||1||13
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.Amt.EqvtAmt.Amt.CcyOfTrf||||Additional Message Information||Transfer Currency||1||14
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.ChrgBr||||Additional Message Information||Charge Bearer||1||15
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.CdtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Beneficiary Information||Creditor Agent||1||1
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.CdtrAgtAcct.Id.IBAN||||Beneficiary Information||Creditor Agent IBAN Id||1||2
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.CdtrAgtAcct.Id.Othr.Id||||Beneficiary Information||Creditor Agent Account||1||2
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.Cdtr.Nm||STRUCTURED_NAME||Beneficiary Information||Creditor Name||1||3
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.Cdtr.PstlAdr.StrtNm||||Beneficiary Information||Creditor Street Name||1||4
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.Cdtr.PstlAdr.TwnNm||||Beneficiary Information||Creditor Town Name||1||5
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.Cdtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Beneficiary Information||Creditor Country||1||6
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.Cdtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Beneficiary Information||Creditor Org BIC||1||7
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.Cdtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Beneficiary Information||Date of Birth||1||7
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.Cdtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Beneficiary Information||Country of Birth||1||7
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.CdtrAcct.Id.IBAN||||Beneficiary Information||Beneficiary Account Id||1||8
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.CdtrAcct.Id.Othr.Id||||Beneficiary Information||Beneficiary Other Entity Id||1||8
Dplct.Data.Any.Document.CstmrCdtTrfInitn.PmtInf.CdtTrfTxInf.RmtInf.Ustrd||FREETEXT||Additional Information||Remittance Information||1||16

Dplct.Data.Any.Document.FIToFICstmrCdtTrf.GrpHdr.MsgId||||Message Details||Message Id||1||1
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.GrpHdr.CreDtTm||||Message Details||Date Time||1||2
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.GrpHdr.NbOfTxs||||Message Details||No. Of Transaction||1||3
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.GrpHdr.SttlmInf.SttlmMtd||||Message Details||Settlement Method||1||4
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.GrpHdr.InstgAgt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Instructing Agent||1||5
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.GrpHdr.InstdAgt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Instructed Agent||1||6
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.GrpHdr.SttlmInf.InstgRmbrsmntAgt.FinInstnId.BICFI||STRUCTURED_ID||Additional Information||Instructing Reimbursement Agent||1||1
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.GrpHdr.SttlmInf.InstdRmbrsmntAgt.FinInstnId.BICFI||STRUCTURED_ID||Additional Information||Instructed Reimbursement Agent||1||2
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.GrpHdr.SttlmInf.ThrdRmbrsmntAgt.FinInstnId.BICFI||STRUCTURED_ID||Additional Information||Instructed Reimbursement Agent-2||1||3
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.PmtId.InstrId||||Message Details||Payment Instruction Id||1||7
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.PmtId.EndToEndId||||Message Details||Payment End To End Id||1||8
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.PmtId.TxId||||Message Details||Payment Transaction Id||1||9
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.PmtId.UETR||||Additional Information||UETR||1||10
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.IntrBkSttlmAmt||||Message Details||Settlement Amount||1||11
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.IntrBkSttlmDt||||Message Details||Settlement Date||1||12
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.InstdAmt||||Message Details||Instructed Amount||1||13
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.ChrgBr||||Message Details||Charge Bearer||1||14
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.InstgAgt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Instructing Agent||1||15
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.InstdAgt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Instructed Agent||1||16
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtDbtr.Nm||STRUCTURED_NAME||Additional Information||Ultimate Debtor Name||1||4
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtDbtr.PstlAdr.StrtNm||||Additional Information||Ultimate Debtor Street Name||1||5
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtDbtr.PstlAdr.BldgNb||||Additional Information||Ultimate Debtor Building No.||1||6
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtDbtr.PstlAdr.PstCd||||Additional Information||Ultimate Debtor Post Code||1||7
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtDbtr.PstlAdr.TwnNm||||Additional Information||Ultimate Debtor Town Name||1||8
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtDbtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Additional Information||Ultimate Debtor Country||1||9
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtDbtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Additional Information||Organization Id||1||10
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtDbtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Additional Information||Date of Birth||1||10
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtDbtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Additional Information||Country of Birth||1||10
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Dbtr.Nm||STRUCTURED_NAME||Originator Information||Debtor Name||1||1
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Dbtr.PstlAdr.StrtNm||||Originator Information||Debtor Street Name||1||2
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Dbtr.PstlAdr.BldgNb||||Originator Information||Debtor Building No.||1||3
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Dbtr.PstlAdr.PstCd||||Originator Information||Debtor Post Code||1||4
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Dbtr.PstlAdr.TwnNm||||Originator Information||Debtor Town Name||1||5
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Dbtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Originator Information||Debtor Country||1||6
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Dbtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Originator Information||Organization Id||1||7
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Dbtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Originator Information||Date of Birth||1||7
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Dbtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Originator Information||Country of Birth||1||7
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.DbtrAcct.Id.IBAN||||Originator Information||Debtor IBAN Id||1||8
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.DbtrAcct.Id.Othr.Id||||Originator Information||Debtor Other Entity Id||1||8
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.DbtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Originator Information||Debtor Agent||1||9
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.CdtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Beneficiary Information||Creditor Agent||1||9
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Cdtr.Nm||STRUCTURED_NAME||Beneficiary Information||Creditor Name||1||1
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Cdtr.PstlAdr.StrtNm||||Beneficiary Information||Creditor Street Name||1||2
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Cdtr.PstlAdr.BldgNb||||Beneficiary Information||Creditor Building No.||1||3
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Cdtr.PstlAdr.PstCd||||Beneficiary Information||Creditor Post Code||1||4
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Cdtr.PstlAdr.TwnNm||||Beneficiary Information||Creditor Town Name||1||5
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Cdtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Beneficiary Information||Creditor Country||1||6
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Cdtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Beneficiary Information||Organization Id||1||7
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Cdtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Beneficiary Information||Date of Birth||1||7
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.Cdtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Beneficiary Information||Country of Birth||1||7
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.CdtrAcct.Id.IBAN||||Beneficiary Information||Creditor IBAN Id||1||8
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.CdtrAcct.Id.Othr.Id||||Beneficiary Information||Creditor Other Entity Id||1||8
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtCdtr.Nm||STRUCTURED_NAME||Additional Information||Ultimate Creditor Name||1||11
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtCdtr.PstlAdr.StrtNm||||Beneficiary Information||Ultimate Creditor Street Name||1||12
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtCdtr.PstlAdr.BldgNb||||Beneficiary Information||Ultimate Creditor Building No.||1||3
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtCdtr.PstlAdr.PstCd||||Beneficiary Information||Ultimate Creditor Post Code||1||14
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtCdtr.PstlAdr.TwnNm||||Beneficiary Information||Ultimate Creditor Town Name||1||15
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtCdtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Beneficiary Information||Ultimate Creditor Country||1||16
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtCdtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Beneficiary Information||Organization Id||1||17
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtCdtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Beneficiary Information||Date of Birth||1||17
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.UltmtCdtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Beneficiary Information||Country of Birth||1||17
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.RmtInf.Strd.RfrdDocInf.Nb||||Additional Information||Reference Document No.||1||18
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.RmtInf.Strd.RfrdDocInf.RltdDt||||Additional Information||Reference Document Date||1||19
Dplct.Data.Any.Document.FIToFICstmrCdtTrf.CdtTrfTxInf.RmtInf.Ustrd||FREETEXT||Additional Information||Remittance Information||1||20
