## Comment Start - Define The message fields to be used to generate Hash key to identify a unique/duplicate message.
# Mandatory Configuration for Message ID
MsgId=GrpHdr.MsgId
# Mandatory configuration for Message Created date time
CreatedDtTm=GrpHdr.CreDtTm
## Comment End- Define The message fields to be used to generate Hash key to identify a unique/duplicate message.
GrpHdr.MsgId||||Message Details||Message Id||1||1
GrpHdr.CreDtTm||||Message Details||Date Time||1||2
GrpHdr.NbOfTxs||||Message Details||No. Of Transactions||1||3
GrpHdr.SttlmInf.SttlmMtd||||Message Details||Settlement Method||1||4
GrpHdr.SttlmInf.SttlmAcct.Id.IBAN||||Additional Information||Settlement Account IBAN||1||1
GrpHdr.SttlmInf.SttlmAcct.Id.Othr.Id||||Additional Information||Settlement Account Other Id||1||1
GrpHdr.InstgAgt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Instructing Agent||1||5
GrpHdr.InstdAgt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Instructed Agent||1||6
CdtTrfTxInf.PmtId.InstrId||||Message Details||Payment Instruction Id||1||7
CdtTrfTxInf.PmtId.EndToEndId||||Message Details||End To End Id||1||8
CdtTrfTxInf.PmtId.TxId||||Message Details||Transaction Id||1||9
CdtTrfTxInf.PmtId.UETR||||Message Details||UETR||1||10
CdtTrfTxInf.IntrBkSttlmAmt||||Message Details||Inter Bank Settlement Amount||1||11
CdtTrfTxInf.IntrBkSttlmDt||||Message Details||Inter Bank Settlement Date||1||12
CdtTrfTxInf.Dbtr.FinInstnId.BICFI||STRUCTURED_ID||Additional Information||Debtor FI BIC||1||2
CdtTrfTxInf.DbtrAcct.Id.IBAN||||Additional Information||Debtor Account IBAN||1||3
CdtTrfTxInf.DbtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Additional Information||Debtor Agent FI BIC||1||4
CdtTrfTxInf.CdtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Additional Information||Creditor Agent FI BIC||1||5
CdtTrfTxInf.Cdtr.FinInstnId.BICFI||STRUCTURED_ID||Additional Information||Creditor FI BIC||1||6
CdtTrfTxInf.CdtrAcct.Id.IBAN||||Additional Information||Creditor Account IBAN||1||7
CdtTrfTxInf.UndrlygCstmrCdtTrf.InitgPty.Nm||STRUCTURED_NAME||Additional Information||Initiating Party Name||1||9
CdtTrfTxInf.UndrlygCstmrCdtTrf.InitgPty.PstlAdr.StrtNm||||Additional Information||Initiating Party Street Name||1||10
CdtTrfTxInf.UndrlygCstmrCdtTrf.InitgPty.PstlAdr.BldgNb||||Additional Information||Initiating Party Building No.||1||11
CdtTrfTxInf.UndrlygCstmrCdtTrf.InitgPty.PstlAdr.PstCd||||Additional Information||Initiating Party Post Code||1||12
CdtTrfTxInf.UndrlygCstmrCdtTrf.InitgPty.PstlAdr.TwnNm||||Additional Information||Initiating Party Town Name||1||13
CdtTrfTxInf.UndrlygCstmrCdtTrf.InitgPty.PstlAdr.Ctry||STRUCTURED_COUNTRY||Additional Information||Initiating Party Country||1||14
CdtTrfTxInf.UndrlygCstmrCdtTrf.InitgPty.Id.OrgId.AnyBIC||STRUCTURED_ID||Additional Information||Organization Id||1||15
CdtTrfTxInf.UndrlygCstmrCdtTrf.InitgPty.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Additional Information||Date of Birth||1||15
CdtTrfTxInf.UndrlygCstmrCdtTrf.InitgPty.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Additional Information||Country of Birth||1||15
CdtTrfTxInf.UndrlygCstmrCdtTrf.Dbtr.Nm||STRUCTURED_NAME||Originator Information||Debtor Name||1||1
CdtTrfTxInf.UndrlygCstmrCdtTrf.Dbtr.PstlAdr.StrtNm||||Originator Information||Debtor Street Name||1||2
CdtTrfTxInf.UndrlygCstmrCdtTrf.Dbtr.PstlAdr.BldgNb||||Originator Information||Debtor Building No.||1||3
CdtTrfTxInf.UndrlygCstmrCdtTrf.Dbtr.PstlAdr.PstCd||||Originator Information||Debtor Post Code||1||4
CdtTrfTxInf.UndrlygCstmrCdtTrf.Dbtr.PstlAdr.TwnNm||||Originator Information||Debtor Town Name||1||5
CdtTrfTxInf.UndrlygCstmrCdtTrf.Dbtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Originator Information||Debtor Country||1||6
CdtTrfTxInf.UndrlygCstmrCdtTrf.Dbtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Originator Information||Organization Id||1||7
CdtTrfTxInf.UndrlygCstmrCdtTrf.Dbtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Originator Information||Date of Birth||1||7
CdtTrfTxInf.UndrlygCstmrCdtTrf.Dbtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Originator Information||Country of Birth||1||7
CdtTrfTxInf.UndrlygCstmrCdtTrf.DbtrAcct.Id.IBAN||||Originator Information||Debtor IBAN Id||1||8
CdtTrfTxInf.UndrlygCstmrCdtTrf.DbtrAcct.Id.Othr.Id||||Originator Information||Debtor Other Entity Id||1||8
CdtTrfTxInf.UndrlygCstmrCdtTrf.DbtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Originator Information||Debtor Agent||1||9
CdtTrfTxInf.UndrlygCstmrCdtTrf.CdtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Beneficiary Information||Creditor Agent||1||9
CdtTrfTxInf.UndrlygCstmrCdtTrf.Cdtr.Nm||STRUCTURED_NAME||Beneficiary Information||Creditor Name||1||1
CdtTrfTxInf.UndrlygCstmrCdtTrf.Cdtr.PstlAdr.StrtNm||||Beneficiary Information||Creditor Street Name||1||2
CdtTrfTxInf.UndrlygCstmrCdtTrf.Cdtr.PstlAdr.BldgNb||||Beneficiary Information||Creditor Building No.||1||3
CdtTrfTxInf.UndrlygCstmrCdtTrf.Cdtr.PstlAdr.PstCd||||Beneficiary Information||Creditor Post Code||1||4
CdtTrfTxInf.UndrlygCstmrCdtTrf.Cdtr.PstlAdr.TwnNm||||Beneficiary Information||Creditor Town Name||1||5
CdtTrfTxInf.UndrlygCstmrCdtTrf.Cdtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Beneficiary Information||Creditor Country||1||6
CdtTrfTxInf.UndrlygCstmrCdtTrf.Cdtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Beneficiary Information||Organization Id||1||7
CdtTrfTxInf.UndrlygCstmrCdtTrf.Cdtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Beneficiary Information||Date of Birth||1||7
CdtTrfTxInf.UndrlygCstmrCdtTrf.Cdtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Beneficiary Information||Country of Birth||1||7
CdtTrfTxInf.UndrlygCstmrCdtTrf.CdtrAcct.Id.IBAN||||Beneficiary Information||Creditor IBAN Id||1||8
CdtTrfTxInf.UndrlygCstmrCdtTrf.CdtrAcct.Id.Othr.Id||||Additional Information||Creditor Other Entity Id||1||8
CdtTrfTxInf.UndrlygCstmrCdtTrf.RmtInf.Strd.RfrdDocInf.Tp.CdOrPrtry.Cd||||Additional Information||Remittance Info Proprietary Code||1||16
CdtTrfTxInf.UndrlygCstmrCdtTrf.RmtInf.Strd.RfrdDocInf.Nb||||Additional Information||Remittance Info Document No.||1||17
CdtTrfTxInf.UndrlygCstmrCdtTrf.RmtInf.Strd.RfrdDocInf.RltdDt||||Additional Information||Remittance Info Document Related Date||1||18
CdtTrfTxInf.IntrmyAgt1.FinInstnId.BICFI||STRUCTURED_ID||Additional Information||Intermediary Agent1||1||19
CdtTrfTxInf.CdtrAgtAcct.Id.Othr.Id||||Additional Information||Creditor Agent Other Entity Id||1||20
CdtTrfTxInf.CdtrAcct.Id.Othr.Id||||Additional Information||Creditor Account Other Entity Id||1||21
CdtTrfTxInf.CdtrAcct.Ccy||||Additional Information||Creditor Account Currency||1||22
