## Comment Start - Define The message fields to be used to generate Hash key to identify a unique/duplicate message.
# Mandatory Configuration for Message ID
MsgId=GrpHdr.MsgId
# Mandatory configuration for Message Created date time
CreatedDtTm=GrpHdr.CreDtTm
## Comment End- Define The message fields to be used to generate Hash key to identify a unique/duplicate message.
GrpHdr.MsgId||||Message Details||Message Id||1||1
GrpHdr.CreDtTm||||Message Details||Date Time||1||2
GrpHdr.NbOfTxs||||Message Details||No. Of Transactions||1||3
GrpHdr.SttlmInf.SttlmMtd||||Message Details||Settlement Method||1||4
GrpHdr.SttlmInf.ClrSys.Cd||||Message Details||Clearing System Proprietary||1||5
GrpHdr.SttlmInf.ClrSys.Prtry||||Message Details||Clearing System Proprietary||1||5
GrpHdr.InstgAgt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Instructing Agent||1||6
GrpHdr.InstdAgt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Instructed Agent||1||7
OrgnlGrpInf.OrgnlMsgId||||Message Details||Original Message Id||1||8
OrgnlGrpInf.OrgnlMsgNmId||||Message Details||Original Message Name Id||1||9
OrgnlGrpInf.OrgnlCreDtTm||||Message Details||Original Creation Date Time||1||10
TxInf.RtrId||||Message Details||Return Id||1||11
TxInf.OrgnlInstrId||||Message Details||Original Instruction Id||1||12
TxInf.OrgnlEndToEndId||||Message Details||Original End To End Id||1||13
TxInf.OrgnlTxId||||Message Details||Original Transaction Id||1||14
TxInf.OrgnlUETR||||Message Details||Original UETR||1||15
TxInf.OrgnlIntrBkSttlmAmt||||Message Details||Original Interbank Settlement Amount||1||16
TxInf.RtrdIntrBkSttlmAmt||||Additional Information||Returned Interbank Settlement Amount||1||1
TxInf.IntrBkSttlmDt||||Additional Information||Inter Bank Settlement Date||1||2
TxInf.RtrdInstdAmt||||Additional Information||Returned Instructed Amount||1||3
TxInf.ChrgBr||||Additional Information||Charge Bearer||1||4
TxInf.ChrgsInf.Amt||||Additional Information||Charges Information Amount||1||5
TxInf.ChrgsInf.Agt.FinInstnId.BICFI||STRUCTURED_ID||Additional Information||Charges Information Agent||1||6
TxInf.RtrRsnInf.Orgtr.Nm||STRUCTURED_NAME||Additional Information||Originator Name||1||7
TxInf.RtrRsnInf.Orgtr.PstlAdr.StrtNm||||Originator Information||Debtor Street Name||1||8
TxInf.RtrRsnInf.Orgtr.PstlAdr.BldgNb||||Originator Information||Debtor Building No.||1||9
TxInf.RtrRsnInf.Orgtr.PstlAdr.PstCd||||Originator Information||Debtor Address Post Code||1||10
TxInf.RtrRsnInf.Orgtr.PstlAdr.TwnNm||||Originator Information||Debtor Town Name||1||11
TxInf.RtrRsnInf.Orgtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Originator Information||Debtor Country||1||12
TxInf.RtrRsnInf.Orgtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Additional Information||Organization Id||1||13
TxInf.RtrRsnInf.Orgtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Additional Information||Date of Birth||1||13
TxInf.RtrRsnInf.Orgtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Additional Information||Country of Birth||1||13
TxInf.RtrRsnInf.Rsn.Cd||||Additional Information||Reason Code||1||14
TxInf.RtrRsnInf.Rsn.Prtry||FREETEXT||Additional Information||Proprietary Reason Code||1||14
TxInf.RtrRsnInf.AddtlInf||FREETEXT||Additional Information||Return Additional Information||1||15
TxInf.OrgnlTxRef.IntrBkSttlmAmt||||Additional Information||Inter Bank Settlement Amount||1||16
TxInf.OrgnlTxRef.IntrBkSttlmDt||||Additional Information||Inter Bank Settlement Date||1||17
TxInf.OrgnlTxRef.ReqdColltnDt||||Additional Information||Requested Collection Date||1||18
TxInf.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.MndtId||||Additional Information||Direct Debit Mandate Id||1||19
TxInf.OrgnlTxRef.Dbtr.Pty.Nm||STRUCTURED_NAME||Originator Information||Debtor Party Name||1||1
TxInf.OrgnlTxRef.Dbtr.Pty.PstlAdr.StrtNm||||Originator Information||Debtor Street Name||1||2
TxInf.OrgnlTxRef.Dbtr.Pty.PstlAdr.BldgNb||||Originator Information||Debtor Building Number||1||3
TxInf.OrgnlTxRef.Dbtr.Pty.PstlAdr.PstCd||||Originator Information||Debtor Post Code||1||4
TxInf.OrgnlTxRef.Dbtr.Pty.PstlAdr.TwnNm||||Originator Information||Debtor Town Name||1||5
TxInf.OrgnlTxRef.Dbtr.Pty.PstlAdr.Ctry||STRUCTURED_COUNTRY||Originator Information||Debtor Country||1||6
TxInf.OrgnlTxRef.Dbtr.Agt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Debtor Agent||1||7
TxInf.OrgnlTxRef.DbtrAcct.Id.IBAN||||Originator Information||Originator IBAN Id||1||8
TxInf.OrgnlTxRef.DbtrAcct.Id.Othr.Id||||Originator Information||Originator Other Entity Id||1||8
TxInf.OrgnlTxRef.DbtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Originator Information||Debtor Agent||1||9
TxInf.OrgnlTxRef.Cdtr.Pty.Nm||STRUCTURED_NAME||Beneficiary Information||Creditor Party Name||1||1
TxInf.OrgnlTxRef.Cdtr.Pty.PstlAdr.StrtNm||||Beneficiary Information||Creditor Street Name||1||2
TxInf.OrgnlTxRef.Cdtr.Pty.PstlAdr.BldgNb||||Beneficiary Information||Creditor Building Number||1||3
TxInf.OrgnlTxRef.Cdtr.Pty.PstlAdr.PstCd||||Beneficiary Information||Creditor Post Code||1||4
TxInf.OrgnlTxRef.Cdtr.Pty.PstlAdr.TwnNm||||Beneficiary Information||Creditor Town Name||1||5
TxInf.OrgnlTxRef.Cdtr.Pty.PstlAdr.Ctry||STRUCTURED_COUNTRY||Beneficiary Information||Creditor Country||1||6
TxInf.OrgnlTxRef.Cdtr.Agt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Creditor Agent||1||7
TxInf.OrgnlTxRef.CdtrAcct.Id.IBAN||||Originator Information||Creditor IBAN Id||1||8
TxInf.OrgnlTxRef.CdtrAcct.Id.Othr.Id||||Originator Information||Creditor Other Entity Id||1||8
