## Comment Start - Define The message fields to be used to generate Hash key to identify a unique/duplicate message.
# Mandatory Configuration for Message ID
MsgId=Assgnmt.Id
# Mandatory configuration for Message Created date time
CreatedDtTm=Assgnmt.CreDtTm
## Comment End- Define The message fields to be used to generate Hash key to identify a unique/duplicate message.
Assgnmt.Id||||Message Details||Assignment Id||1||1
Assgnmt.Assgnr.Pty.Nm||STRUCTURED_NAME||Message Details||Assigner Name||1||2
Assgnmt.Assgnr.Pty.PstlAdr.StrtNm||||Message Details||Assigner Street Name||1||3
Assgnmt.Assgnr.Pty.PstlAdr.TwnNm||||Message Details||Assigner Town Name||1||4
Assgnmt.Assgnr.Pty.PstlAdr.Ctry||STRUCTURED_COUNTRY||Message Details||Assigner Country||1||5
Assgnmt.Assgnr.Agt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Assigner Agent||1||6
Assgnmt.Assgne.Pty.Nm||STRUCTURED_NAME||Message Details||Assignee Name||1||7
Assgnmt.Assgne.Pty.PstlAdr.StrtNm||||Message Details||Assignee Street Name||1||8
Assgnmt.Assgne.Pty.PstlAdr.TwnNm||||Message Details||Assignee Town Name||1||9
Assgnmt.Assgne.Pty.PstlAdr.Ctry||STRUCTURED_COUNTRY||Message Details||Assignee Country||1||10
Assgnmt.Assgne.Agt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Assignee Agent||1||11
Assgnmt.CreDtTm||||Message Details||Creation Date Time||1||12
Case.Id||||Message Details||Case Id||1||13
Case.Cretr.Pty.Nm||STRUCTURED_NAME||Message Details||Creator Name||1||14
Case.Cretr.Pty.PstlAdr.StrtNm||||Message Details||Creator Street Name||1||15
Case.Cretr.Pty.PstlAdr.TwnNm||||Message Details||Creator Town Name||1||16
Case.Cretr.Pty.PstlAdr.Ctry||STRUCTURED_COUNTRY||Message Details||Creator Country||1||17
Case.Cretr.Pty.Id.OrgId.AnyBIC||STRUCTURED_ID||Message Details||Creator BIC||1||18
Case.Cretr.Pty.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Message Details||Date of Birth||1||18
Case.Cretr.Pty.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Message Details||Country of Birth||1||18
Case.Cretr.Agt.FinInstnId.BICFI||STRUCTURED_ID||Additional Information||Creator Agent||1||19
Undrlyg.Initn.OrgnlGrpInf.OrgnlMsgId||||Additional Information||Original Message Id||1||1
Undrlyg.Initn.OrgnlGrpInf.OrgnlMsgNmId||||Additional Information||Original Message Name Identifier||1||2
Undrlyg.Initn.OrgnlGrpInf.OrgnlCreDtTm||||Additional Information||Date Time||1||3
Undrlyg.Initn.OrgnlInstrId||||Additional Information||Original Instruction Id||1||4
Undrlyg.Initn.OrgnlEndToEndId||||Additional Information||End To End Id||1||5
Undrlyg.Initn.OrgnlUETR||||Additional Information||Original UETR||1||7
Undrlyg.IntrBk.OrgnlGrpInf.OrgnlMsgId||||Additional Information||Original Message Id||1||1
Undrlyg.IntrBk.OrgnlGrpInf.OrgnlMsgNmId||||Additional Information||Original Message Name Identifier||1||2
Undrlyg.IntrBk.OrgnlGrpInf.OrgnlCreDtTm||||Additional Information||Date Time||1||3
Undrlyg.IntrBk.OrgnlInstrId||||Additional Information||Original Instruction Id||1||4
Undrlyg.IntrBk.OrgnlEndToEndId||||Additional Information||End To End Id||1||5
Undrlyg.IntrBk.OrgnlTxId||||Additional Information||Original Transaction Id||1||6
Undrlyg.IntrBk.OrgnlIntrBkSttlmAmt||||Additional Information||Interbank Settlement Amount||1||8
Inf.InstrId||||Additional Information||Original Instruction Id||1||9
Inf.EndToEndId||||Additional Information||End To End Id||1||10
Inf.TxId||||Additional Information||Original Transaction Id||1||11
Inf.Dbtr.Nm||STRUCTURED_NAME||Originator Information||Originator Name||1||1
Inf.Dbtr.PstlAdr.StrtNm||||Originator Information||Originator Street Name||1||2
Inf.Dbtr.PstlAdr.TwnNm||||Originator Information||Originator Town Name||1||3
Inf.Dbtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Originator Information||Originator Country||1||4
Inf.Dbtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Originator Information||Original Originator Org BIC||1||5
Inf.Dbtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Originator Information||Date of Birth||1||5
Inf.Dbtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Originator Information||Country of Birth||1||5
Inf.DbtrAcct.Id.IBAN||||Originator Information||Original Originator Account Id||1||6
Inf.DbtrAcct.Id.Othr.Id||||Originator Information||Original Originator Other Entity Id||1||6
Inf.DbtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Originator Information||Original Originator Agent BIC||1||7
Inf.Cdtr.Nm||STRUCTURED_NAME||Beneficiary Information||Beneficiary Name||1||1
Inf.Cdtr.PstlAdr.StrtNm||||Beneficiary Information||Beneficiary Street Name||1||2
Inf.Cdtr.PstlAdr.TwnNm||||Beneficiary Information||Beneficiary Town Name||1||3
Inf.Cdtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Beneficiary Information||Beneficiary Country||1||4
Inf.Cdtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Beneficiary Information||Beneficiary Org BIC||1||5
Inf.Cdtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Beneficiary Information||Date of Birth||1||5
Inf.Cdtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Beneficiary Information||Country of Birth||1||5
Inf.CdtrAcct.Id.IBAN||||Beneficiary Information||Beneficiary Account Id||1||6
Inf.CdtrAcct.Id.Othr.Id||||Beneficiary Information||Beneficiary Other Entity Id||1||6
Inf.CdtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Beneficiary Information||Beneficiary Agent BIC||1||7
Inf.RmtInf.Ustrd||FREETEXT||Additional Information||Remittance Information||1||12
