## Comment Start - Define The message fields to be used to generate Hash key to identify a unique/duplicate message.
# Mandatory Configuration for Message ID
MsgId=GrpHdr.MsgId
# Mandatory configuration for Message Created date time
CreatedDtTm=GrpHdr.CreDtTm
## Comment End- Define The message fields to be used to generate Hash key to identify a unique/duplicate message.
GrpHdr.MsgId||||Message Details||Message Id||1||1
GrpHdr.CreDtTm||||Message Details||Date Time||1||2
GrpHdr.NbOfTxs||||Message Details||No. Of Transaction||1||3
GrpHdr.SttlmInf.SttlmMtd||||Message Details||Settlement Method||1||4
GrpHdr.InstgAgt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Instructing Agent||1||5
GrpHdr.InstdAgt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Instructed Agent||1||6
GrpHdr.SttlmInf.InstgRmbrsmntAgt.FinInstnId.BICFI||STRUCTURED_ID||Additional Information||Instructing Reimbursement Agent||1||1
GrpHdr.SttlmInf.InstdRmbrsmntAgt.FinInstnId.BICFI||STRUCTURED_ID||Additional Information||Instructed Reimbursement Agent||1||2
GrpHdr.SttlmInf.ThrdRmbrsmntAgt.FinInstnId.BICFI||STRUCTURED_ID||Additional Information||Instructed Reimbursement Agent-2||1||3
CdtTrfTxInf.PmtId.InstrId||||Message Details||Payment Instruction Id||1||7
CdtTrfTxInf.PmtId.EndToEndId||||Message Details||Payment End To End Id||1||8
CdtTrfTxInf.PmtId.TxId||||Message Details||Payment Transaction Id||1||9
CdtTrfTxInf.PmtId.UETR||||Additional Information||UETR||1||10
CdtTrfTxInf.IntrBkSttlmAmt||||Message Details||Settlement Amount||1||11
CdtTrfTxInf.IntrBkSttlmDt||||Message Details||Settlement Date||1||12
CdtTrfTxInf.InstdAmt||||Message Details||Instructed Amount||1||13
CdtTrfTxInf.ChrgBr||||Message Details||Charge Bearer||1||14
CdtTrfTxInf.InstgAgt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Instructing Agent||1||15
CdtTrfTxInf.InstdAgt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Instructed Agent||1||16
CdtTrfTxInf.UltmtDbtr.Nm||STRUCTURED_NAME||Additional Information||Ultimate Debtor Name||1||4
CdtTrfTxInf.UltmtDbtr.PstlAdr.StrtNm||||Additional Information||Ultimate Debtor Street Name||1||5
CdtTrfTxInf.UltmtDbtr.PstlAdr.BldgNb||||Additional Information||Ultimate Debtor Building No.||1||6
CdtTrfTxInf.UltmtDbtr.PstlAdr.PstCd||||Additional Information||Ultimate Debtor Post Code||1||7
CdtTrfTxInf.UltmtDbtr.PstlAdr.TwnNm||||Additional Information||Ultimate Debtor Town Name||1||8
CdtTrfTxInf.UltmtDbtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Additional Information||Ultimate Debtor Country||1||9
CdtTrfTxInf.UltmtDbtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Additional Information||Organization Id||1||10
CdtTrfTxInf.UltmtDbtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Additional Information||Date of Birth||1||10
CdtTrfTxInf.UltmtDbtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Additional Information||Country of Birth||1||10
CdtTrfTxInf.Dbtr.Nm||STRUCTURED_NAME||Originator Information||Debtor Name||1||1
CdtTrfTxInf.Dbtr.PstlAdr.StrtNm||||Originator Information||Debtor Street Name||1||2
CdtTrfTxInf.Dbtr.PstlAdr.BldgNb||||Originator Information||Debtor Building No.||1||3
CdtTrfTxInf.Dbtr.PstlAdr.PstCd||||Originator Information||Debtor Post Code||1||4
CdtTrfTxInf.Dbtr.PstlAdr.TwnNm||||Originator Information||Debtor Town Name||1||5
CdtTrfTxInf.Dbtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Originator Information||Debtor Country||1||6
CdtTrfTxInf.Dbtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Originator Information||Organization Id||1||7
CdtTrfTxInf.Dbtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Originator Information||Date of Birth||1||7
CdtTrfTxInf.Dbtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Originator Information||Country of Birth||1||7
CdtTrfTxInf.DbtrAcct.Id.IBAN||||Originator Information||Debtor IBAN Id||1||8
CdtTrfTxInf.DbtrAcct.Id.Othr.Id||||Originator Information||Debtor Other Entity Id||1||8
CdtTrfTxInf.DbtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Originator Information||Debtor Agent||1||9
CdtTrfTxInf.CdtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Beneficiary Information||Creditor Agent||1||9
CdtTrfTxInf.Cdtr.Nm||STRUCTURED_NAME||Beneficiary Information||Creditor Name||1||1
CdtTrfTxInf.Cdtr.PstlAdr.StrtNm||||Beneficiary Information||Creditor Street Name||1||2
CdtTrfTxInf.Cdtr.PstlAdr.BldgNb||||Beneficiary Information||Creditor Building No.||1||3
CdtTrfTxInf.Cdtr.PstlAdr.PstCd||||Beneficiary Information||Creditor Post Code||1||4
CdtTrfTxInf.Cdtr.PstlAdr.TwnNm||||Beneficiary Information||Creditor Town Name||1||5
CdtTrfTxInf.Cdtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Beneficiary Information||Creditor Country||1||6
CdtTrfTxInf.Cdtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Beneficiary Information||Organization Id||1||7
CdtTrfTxInf.Cdtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Beneficiary Information||Date of Birth||1||7
CdtTrfTxInf.Cdtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Beneficiary Information||Country of Birth||1||7
CdtTrfTxInf.CdtrAcct.Id.IBAN||||Beneficiary Information||Creditor IBAN Id||1||8
CdtTrfTxInf.CdtrAcct.Id.Othr.Id||||Beneficiary Information||Creditor Other Entity Id||1||8
CdtTrfTxInf.UltmtCdtr.Nm||STRUCTURED_NAME||Additional Information||Ultimate Creditor Name||1||11
CdtTrfTxInf.UltmtCdtr.PstlAdr.StrtNm||||Beneficiary Information||Ultimate Creditor Street Name||1||12
CdtTrfTxInf.UltmtCdtr.PstlAdr.BldgNb||||Beneficiary Information||Ultimate Creditor Building No.||1||3
CdtTrfTxInf.UltmtCdtr.PstlAdr.PstCd||||Beneficiary Information||Ultimate Creditor Post Code||1||14
CdtTrfTxInf.UltmtCdtr.PstlAdr.TwnNm||||Beneficiary Information||Ultimate Creditor Town Name||1||15
CdtTrfTxInf.UltmtCdtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Beneficiary Information||Ultimate Creditor Country||1||16
CdtTrfTxInf.UltmtCdtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Beneficiary Information||Organization Id||1||17
CdtTrfTxInf.UltmtCdtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Beneficiary Information||Date of Birth||1||17
CdtTrfTxInf.UltmtCdtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Beneficiary Information||Country of Birth||1||17
CdtTrfTxInf.RmtInf.Strd.RfrdDocInf.Nb||||Additional Information||Reference Document No.||1||18
CdtTrfTxInf.RmtInf.Strd.RfrdDocInf.RltdDt||||Additional Information||Reference Document Date||1||19
CdtTrfTxInf.RmtInf.Ustrd||FREETEXT||Additional Information||Remittance Information||1||20
