## Comment Start - Define The message fields to be used to generate Hash key to identify a unique/duplicate message.
# Mandatory Configuration for Message ID
MsgId=Assgnmt.Id
# Mandatory configuration for Message Created date time
CreatedDtTm=Assgnmt.CreDtTm
## Comment End- Define The message fields to be used to generate Hash key to identify a unique/duplicate message.
Assgnmt.Id||||Message Details||Assignment Id||1||1
Assgnmt.Assgnr.Pty.Nm||STRUCTURED_NAME||Message Details||Assigner Name||1||2
Assgnmt.Assgnr.Pty.PstlAdr.StrtNm||||Message Details||Assigner Street Name||1||3
Assgnmt.Assgnr.Pty.PstlAdr.TwnNm||||Message Details||Assigner Town Name||1||4
Assgnmt.Assgnr.Pty.PstlAdr.Ctry||STRUCTURED_COUNTRY||Message Details||Assigner Country||1||5
Assgnmt.Assgnr.Agt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Assigner Agent||1||6
Assgnmt.Assgne.Pty.Nm||STRUCTURED_NAME||Message Details||Assignee Name||1||7
Assgnmt.Assgne.Pty.PstlAdr.StrtNm||||Message Details||Assignee Street Name||1||8
Assgnmt.Assgne.Pty.PstlAdr.TwnNm||||Message Details||Assignee Town Name||1||9
Assgnmt.Assgne.Pty.PstlAdr.Ctry||STRUCTURED_COUNTRY||Message Details||Assignee Country||1||10
Assgnmt.Assgne.Agt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Assignee Agent||1||11
Assgnmt.CreDtTm||||Message Details||Creation Date Time||1||12
Case.Id||||Message Details||Case Id||1||13
Case.Cretr.Pty.Nm||STRUCTURED_NAME||Message Details||Creator Name||1||14
Case.Cretr.Pty.PstlAdr.StrtNm||||Message Details||Creator Street Name||1||15
Case.Cretr.Pty.PstlAdr.TwnNm||||Message Details||Creator Town Name||1||16
Case.Cretr.Pty.PstlAdr.Ctry||STRUCTURED_COUNTRY||Message Details||Creator Country||1||17
Case.Cretr.Agt.FinInstnId.BICFI||STRUCTURED_ID||Message Details||Creator Agent||1||18
Undrlyg.Initn.OrgnlGrpInf.OrgnlMsgId||||Additional Information||Original Message Id||1||1
Undrlyg.Initn.OrgnlGrpInf.OrgnlMsgNmId||||Additional Information||Original Message Name Identifier||1||2
Undrlyg.Initn.OrgnlGrpInf.OrgnlCreDtTm||||Additional Information||Date Time||1||3
Undrlyg.Initn.OrgnlInstrId||||Additional Information||Original Instruction Id||1||4
Undrlyg.Initn.OrgnlEndToEndId||||Additional Information||End To End Id||1||5
Undrlyg.Initn.OrgnlUETR||||Additional Information||Original UETR||1||6
Undrlyg.Initn.OrgnlInstdAmt||||Additional Information||Original Instructed Amount||1||7
Undrlyg.Initn.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.MndtId||FREETEXT||Additional Information||Mandate Id||1||8
Undrlyg.Initn.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtr.Nm||STRUCTURED_NAME||Originator Information||Original Originator Name||1||1
Undrlyg.Initn.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtr.PstlAdr.StrtNm||||Originator Information||Original Originator Street Name||1||2
Undrlyg.Initn.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtr.PstlAdr.TwnNm||||Originator Information||Original Originator Town Name||1||3
Undrlyg.Initn.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Originator Information||Original Originator Country||1||4
Undrlyg.Initn.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Originator Information||Original Originator Org BIC||1||5
Undrlyg.Initn.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Originator Information||Date of Birth||1||5
Undrlyg.Initn.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Originator Information||Country of Birth||1||5
Undrlyg.Initn.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtrAcct.Id.IBAN||||Originator Information||Original Originator Account Id||1||6
Undrlyg.Initn.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtrAcct.Id.Othr.Id||||Originator Information||Original Originator Other Entity Id||1||6
Undrlyg.Initn.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Originator Information||Original Originator Agent BIC||1||7
Undrlyg.Initn.OrgnlTxRef.MndtRltdInf.CdtTrfMndt.MndtId||FREETEXT||Additional Information||Mandate Identification||1||8
Undrlyg.Initn.OrgnlTxRef.RmtInf.Ustrd||FREETEXT||Additional Information||Remittance Information||1||10
Undrlyg.IntrBk.OrgnlGrpInf.OrgnlMsgId||||Additional Information||Original Message Id||1||1
Undrlyg.IntrBk.OrgnlGrpInf.OrgnlMsgNmId||||Additional Information||Original Message Name Identifier||1||2
Undrlyg.IntrBk.OrgnlGrpInf.OrgnlCreDtTm||||Additional Information||Date Time||1||3
Undrlyg.IntrBk.OrgnlInstrId||||Additional Information||Original Instruction Id||1||4
Undrlyg.IntrBk.OrgnlEndToEndId||||Additional Information||End To End Id||1||5
Undrlyg.IntrBk.OrgnlUETR||||Additional Information||Original UETR||1||6
Undrlyg.IntrBk.OrgnlIntrBkSttlmAmt||||Additional Information||Interbank Settlement Amount||1||7
Undrlyg.IntrBk.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.MndtId||FREETEXT||Additional Information||Mandate Id||1||8
Undrlyg.IntrBk.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtr.Nm||STRUCTURED_NAME||Originator Information||Original Originator Name||1||1
Undrlyg.IntrBk.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtr.PstlAdr.StrtNm||||Originator Information||Original Originator Street Name||1||2
Undrlyg.IntrBk.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtr.PstlAdr.TwnNm||||Originator Information||Original Originator Town Name||1||3
Undrlyg.IntrBk.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtr.PstlAdr.Ctry||STRUCTURED_COUNTRY||Originator Information||Original Originator Country||1||4
Undrlyg.IntrBk.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtr.Id.OrgId.AnyBIC||STRUCTURED_ID||Originator Information||Original Originator Org BIC||1||5
Undrlyg.IntrBk.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtr.Id.PrvtId.DtAndPlcOfBirth.BirthDt||||Originator Information||Date of Birth||1||5
Undrlyg.IntrBk.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtr.Id.PrvtId.DtAndPlcOfBirth.CtryOfBirth||STRUCTURED_COUNTRY||Originator Information||Country of Birth||1||5
Undrlyg.IntrBk.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtrAcct.Id.IBAN||||Originator Information||Original Originator Account Id||1||6
Undrlyg.IntrBk.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtrAcct.Id.Othr.Id||||Originator Information||Original Originator Other Entity Id||1||6
Undrlyg.IntrBk.OrgnlTxRef.MndtRltdInf.DrctDbtMndt.AmdmntInfDtls.OrgnlDbtrAgt.FinInstnId.BICFI||STRUCTURED_ID||Originator Information||Original Originator Agent BIC||1||7
Undrlyg.IntrBk.OrgnlTxRef.MndtRltdInf.CdtTrfMndt.MndtId||FREETEXT||Additional Information||Mandate Identification||1||8
Justfn.MssngOrIncrrctInf.MssngInf.Tp.Cd||||Additional Information||Missing Information Code||1||9
Justfn.MssngOrIncrrctInf.MssngInf.Tp.Prtry||FREETEXT||Additional Information||Additional Missing Information||1||9
Justfn.MssngOrIncrrctInf.MssngInf.AddtlMssngInf||FREETEXT||Additional Information||Additional Incorrect Information||1||10
Justfn.MssngOrIncrrctInf.IncrrctInf.Tp.Cd||||Additional Information||Incorrect Information Code||1||11
Justfn.MssngOrIncrrctInf.IncrrctInf.Tp.Prtry||FREETEXT||Additional Information||Incorrect Information Code||1||11
Justfn.MssngOrIncrrctInf.IncrrctInf.AddtlIncrrctInf||FREETEXT||Additional Information||Additional Incorrect Information||1||12
